In [39]:
import sqlite3
import os
from datetime import datetime, timedelta
import pandas as pd

In [49]:
def insert_customer_data(id, cust_name, cust_email, appliance, purchase_date, warranty_period, warranty_expiry_date):
    
    path = os.path.join(os.getcwd(),"Database", "Customer_data.db")
    connection = sqlite3.connect(path)
    cursor = connection.cursor()

    try:
        cursor.execute('''
            INSERT INTO Customer_info (id, name, email_id, Appliance_name, Purchase_date, warranty_period, warranty_expiry_date)
            VALUES (?, ?, ?, ?, ?, ?, ?)
        ''', (id, cust_name, cust_email, appliance, purchase_date, warranty_period, warranty_expiry_date))
        connection.commit()
    except sqlite3.Error as e:
        print(f"An error occurred: {e}")
    finally:
        connection.close()  # Ensure the connection is closed

In [ ]:
#Customer Input
cust_name= input("Enter your name: ")
cust_email = input("Enter your email: ")            
appliance = input("Enter the appliance name: ")
purchase_date = input("Enter the purchase date (YYYY-MM-DD): ") 
warranty_period = input("Enter the warranty period (in years): ")
id = cust_name +"_"+ cust_email
id = id.replace(" ", "_")
id = id.lower()  # Convert to lowercase for consistency

In [26]:
# Calculate warranty end date
if purchase_date:
    purchase_date_date = datetime.strptime(purchase_date, "%Y-%m-%d")
    warranty_end_date = purchase_date_date + timedelta(days=float(warranty_period) * 365)
    warranty_expiry_date = warranty_end_date.strftime("%Y-%m-%d")

In [27]:
# Create folder where customer can upload your  therir bill (image /PDF)
folder_path = os.path.join(os.getcwd(), "Customer_Bills", id)
if not os.path.exists(folder_path):
    os.makedirs(folder_path)

In [28]:
#Inster information into the database
insert_customer_data(id, cust_name, cust_email, appliance, purchase_date, warranty_period, warranty_expiry_date)

An error occurred: UNIQUE constraint failed: Customer_info.id

In [50]:
def customer_info_display(id):
    path = os.path.join(os.getcwd(), "Database", "Customer_data.db")
    connection = sqlite3.connect(path)
    cursor = connection.cursor()

    try:
        cursor.execute("SELECT * FROM Customer_info WHERE id=?", (id,))
        rows = cursor.fetchall()
        return rows
    except sqlite3.Error as e:
        print(f"An error occurred: {e}")
    finally:
        connection.close()

In [51]:
path = os.path.join(os.getcwd(), "Database", "Customer_data.db")
connection = sqlite3.connect(path)
cursor = connection.cursor()

try:
    cursor.execute("SELECT * FROM Customer_info")
    rows = cursor.fetchall()
    
    # Print the table data
    print("Customer_info Table Data:")
    for row in rows:
        print(row)
except sqlite3.Error as e:
    print(f"An error occurred: {e}")
finally:
    connection.close()

Customer_info Table Data:
('Vibha_Vibha@gmail.com', 'Vibha', 'Vibha@gmail.com', 'Fridge', '2024-09-01', 1, '2025-09-01')
('Anshu_Anshu@gmail.com', 'Anshu', 'Anshu@gmail.com', 'Conventional Oven', '2025-07-21', 1, '2026-07-21')
('Anshu_Anshu12@gmail.com', 'Anshu', 'Anshu12@gmail.com', 'Conventional Oven', '2025-07-21', 1, '2026-07-21')
('Priya_Priya@gmail.com', 'Priya', 'Priya@gmail.com', 'Convection Oven', '2025-07-21', 2, '2027-07-21')
('Sumit_Sumit@gmail.com', 'Sumit', 'Sumit@gmail.com', 'Refrigerator', '2025-07-21', 3, '2028-07-20')
('Poonam_Poonam@gmail.com', 'Poonam', 'Poonam@gmail.com', 'Built-in Oven', '2025-07-22', 1, '2026-07-22')

In [47]:
rows= customer_info_display("Poonam_Poonam@gmail.com")
rows

[('Poonam_Poonam@gmail.com',
  'Poonam',
  'Poonam@gmail.com',
  'Built-in Oven',
  '2025-07-22',
  1,
  '2026-07-22')]

In [42]:
customer_info_display(id)

[('Vibha_Vibha@gmail.com',
  'Vibha',
  'Vibha@gmail.com',
  'Fridge',
  '2024-09-01',
  1,
  '2025-09-01')]

In [48]:
cust_df= pd.DataFrame(rows, columns=['id', 'name', 'email_id', 'Appliance_name', 'Purchase_date', 'warranty_period', 'warranty_expiry_date'])
cust_df

,id,name,email_id,Appliance_name,Purchase_date,warranty_period,warranty_expiry_date
0,Poonam_Poonam@gmail.com,Poonam,Poonam@gmail.com,Built-in Oven,2025-07-22,1,2026-07-22